:root {
   --primary-color: #BF5700;
   --header-color: rgba(32,33,41,0.85);
   --text-color: rgba(32,33,41,0.6)
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}

body {
   font-family: 'Open Sans', sans-serif;
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
}

img {
   width: 100%;
}

a {
   text-decoration: none;
   cursor: pointer;
}

.top-nav {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: .75rem 1rem;
}

.top-nav a {
   color: var(--header-color);
   padding: 0 .875rem;
   border-right: 1px solid var(--header-color);
   cursor: pointer;
   font-size: .875rem;
   letter-spacing: .03em;
   font-weight: 400;
}

.top-nav .active {
   color: var(--primary-color);
   border-right: none;
}

.top-nav .material-icons {
   margin-left: auto;
   font-size: 24px;
   margin-right: .875rem;
   color: var(--header-color);
}

.top-nav img {
   width: 2rem;
   height: 2rem;
   border-radius: 50%;
   margin-right: .875rem;
}

.flex-container {
   display: flex;
}

nav {
   display: flex;
   flex-direction: column;
   flex-basis: 17%;
   max-width: 17%;
   border-top: 1px solid #eee;
   height: 100%;
}

.nav-header {
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   padding: 1.5rem 0 1rem;
}

nav img {
   width: 70px;
   height: 70px;
   border-radius: 50%;
}

nav h3 {
   color: var(--header-color);
   line-height: 1.75;
   font-size: 16px;
}

nav h5 {
   color: var(--text-color);
   line-height: 1.5;
   font-size: 13px;
   font-weight: 400;
}

.nav-links {
   display: flex;
   flex-direction: column;
}

.nav-links a {
   display: flex;
   flex-direction: row;
   padding: .75rem 1.5rem;
   color: var(--header-color);
   font-size: 14px;
   align-items: center;
}

.nav-links .material-icons {
   padding-right: 1.25rem;
   color: var(--header-color);
   opacity: 60%;
   font-size: 24px;
}

.nav-links a.active {
   background-color: rgba(191,87,0,.12);
   color: var(--primary-color);
   opacity: 100%;
}

.material-icons.active {
   opacity: 100%;
   color: var(--primary-color);
}

.horizontal-line {
   width: 100%;
   background-color: #eee;
   height: 1px;
   margin: .75rem 0;
}

main {
   flex-basis: 83%;
   max-width: 83%;
   display: flex;
   position: relative;
   flex-direction: column;
   border-left: 1px solid #eee;
}

section {
   display: flex;
}

.tab-bar {
   display: flex;
   flex-direction: row;
   padding: .5rem 1rem;
   align-items: center;
   border-bottom: 1px solid #eee;
}

.tabs {
   margin-right: auto;
   display: flex;
}

.tabs h3 {
   padding: 0 1.5rem;
   text-transform: uppercase;
   letter-spacing: .05em;
   font-weight: 600;
   font-size: 14px;
   color: var(--text-color);
}

.tabs .active {
   color: var(--primary-color);
   opacity: 100%;
}

.primary {
   color: #fff;
   background-color: var(--primary-color);
   border: 1px solid var(--primary-color);
   padding: .25rem 2rem;
   border-radius: 6px;
   text-transform: uppercase;
   font-size: 14px;
   font-weight: 600;
   letter-spacing: .03em;
   margin: 0 .5rem;
}

.secondary {
   color: var(--primary-color);
   background-color: #fff;
   border: 1px solid var(--primary-color);
   padding: .25rem 2rem;
   border-radius: 6px;
   text-transform: uppercase;
   font-size: 14px;
   font-weight: 600;
   letter-spacing: .03em;
   margin: 0 .5rem;
}

.cards {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   flex-wrap: wrap;
   margin-top: 1rem;
}

.card {
   display: flex;
   flex-direction: column;
   border-radius: 6px;
   border: 1px solid #eee;
   margin-bottom: 1rem;
   cursor: pointer;
   flex-basis: 23.5%;
   max-width: 23.5%;
}

.card-media {
   display: flex;
   position: relative;
}

.card-media p {
   position: absolute;
   right: 5px;
   bottom: 5px;
   display: flex;
   background-color: rgba(0,0,0,0.75);
   color: #fff;
   font-weight: 600;
   padding: .01rem .35rem;
   font-size: 12px;
   letter-spacing: .04em;
   border-radius: 2px;
}

.card-body {
   padding: .875rem;
}

.card-body h3 {
   font-size: 14px;
   font-weight: 400;
   color: var(--header-color);
   line-height: 1.3;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: normal;
   -webkit-line-clamp: 2;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   word-break: break-word;
   margin-bottom: .5rem;
   -webkit-text-stroke-width: thin;
   letter-spacing: .0018571429em;
}

.card-body p {
   font-size: 12px;
   color: var(--text-color);
   letter-spacing: .0118571429em;
   -webkit-text-stroke-width: thin;
   font-weight: 400;
}

.dot {
   height: 3px;
   width: 3px;
   border-radius: 50%;
   margin-left: .5rem;
   margin-right: .5rem;
   display: inline-flex;
   background-color: var(--text-color);
   vertical-align: middle;
}
