:root {
   --black: #212121;
   --blue: #006AFF;
   --pink: #F68496;
   --green: #40FF93;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   -webkit-text-size-adjust: 100%;
}

body {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
   background-color: #F1F2F8;
   font-family: 'Montserrat', 'Open Sans', sans-serif;
}

a {
   text-decoration: none;
   cursor: pointer;
}

img {
   max-width: 100%;
}

ul {
   list-style: none;
}

nav {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: .5rem 2rem;
}

.links {
   margin-left: auto;
   margin-right: auto;
}

.links a {
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
   font-weight: 600;
   letter-spacing: -.2px;
   color: var(--black);
   padding-left: 16px;
   padding-right: 16px;
   margin-right: 12px;
   margin-left: 12px;
}

.outlined-btn {
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   font-weight: 600;
   letter-spacing: -.2px;
   color: var(--black);
   background-color: transparent;
   border: 1px solid var(--black);
   border-radius: 3px;
   padding: 12px 26px;
   display: inline-block;
}

.filled-btn {
   font-family: 'Montserrat', sans-serif;
   font-size: 18px;
   font-weight: 600;
   letter-spacing: -.2px;
   color: #fff;
   background-color: var(--blue);
   border: 1px solid var(--blue);
   border-radius: 4px;
   padding: 18px 28px;
   display: inline-block;
}

.text-btn {
   font-family: 'Montserrat', sans-serif;
   font-size: 18px;
   font-weight: 700;
   letter-spacing: -.2px;
   color: var(--blue);
   display: inline-block;
}

.fa-arrow-right {
   margin-left: 10px;
}

.fa-check {
   margin-right: 15px;
}

header, section {
   padding: 84px 0;
   border-bottom: 1px solid rgba(199,199,199,.47);
}

h1 {
   font-family: 'Montserrat', sans-serif;
   color: var(--black);
   font-weight: 700;
   font-size: 87px;
   line-height: 1.2;
}

h2 {
   font-family: 'Montserrat', sans-serif;
   color: var(--black);
   font-weight: 700;
   font-size: 56px;
   line-height: 1.2;
}

h3 {
   font-family: 'Montserrat', sans-serif;
   color: var(--black);
   font-weight: 700;
   font-size: 42px;
   line-height: 1.5;
}

h4 {
   font-family: 'Montserrat', sans-serif;
   color: var(--black);
   font-weight: 500;
   font-size: 28px;
   line-height: 2;
}

h5 {
   font-family: 'Montserrat', sans-serif;
   color: var(--black);
   font-weight: 700;
   font-size: 22px;
   line-height: 2;
}

p {
   color: #000;
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   font-size: 24px;
   line-height: 1.5;
}

ul {
   margin: 1rem 0;
}

li {
   color: #000;
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   font-size: 20px;
   line-height: 1.5;
}

.caption {
   text-align: left;
   display: flex;
   align-items: center;
   margin-bottom: 1.5rem;
   position: relative;
   font-size: 16px;
}

.caption::before {
   width: 50px;
   height: 1px;
   background-color: var(--black);
   margin-right: .5rem;
   content: "";
}

.ready-made-templates {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr;
   grid-gap: 25px;
   margin: 30px auto;
}

.ready-made-templates img {
   border-radius: 8px;
}

.column-card {
   padding: 3em 4em;
   box-shadow: 0 0.2rem 2.8rem rgb(36 36 36 / 10%);
   background-color: #fff;
   border-radius: 8px;
}

.fa-user-alt, .fa-users, .fa-money-check-alt {
   font-size: 30px;
}

.column-card h4 {
   font-weight: 300;
}

.column-card ul {
   margin: 2rem 0;
}

.column-card li {
   font-size: 15px;
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   margin-bottom: 16px;
   color: var(--black);
}

.column-card .filled-btn {
   display: block;
   text-align: center;
   text-transform: uppercase;
   font-size: 18px;
   font-weight: 700;
}

.disclaimer {
   font-size: 12px;
   color: rgba(0,0,0,.46);
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
}

footer {
   background-color: #fff;
}