* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Inter', sans-serif;
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
}

img, video {
   max-width: 100%;
   display: flex;
   position: relative;
   z-index: 1;
}

.demo {
   box-shadow: 0px 24px 50px rgb(0 0 0 / 25%);
   border-radius: 10px;
}

a {
   text-decoration: none;
}

.text-btn {
   color: #0669ff;
   font-weight: 700;
   font-size: 14px;
}

.primary-btn {
   color: #ffffff;
   background-color: #0669ff;
   padding: .75rem 25px;
   border-radius: 8px;
   font-size: 14px;
   font-weight: 700;
}

.secondary-btn {
   color: #000;
   background-color: #f6f6f6;
   padding: .75rem 25px;
   border-radius: 8px;
   font-size: 14px;
   font-weight: 700;
   display: flex;
   align-items: center;
}

.secondary-btn svg {
   margin-right: 10px;
}

.wrapper {
   display: flex;
   flex-direction: row;
}

.img-wrapper {
   margin-right: 1.25rem;
}

nav {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 1rem 8%;
   box-shadow: 0 14px 20px -8px rgb(14 12 27 / 5%);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   margin: 0 auto;
   z-index: 1000;
   background-color: #ffffff;
}

.brand {
   margin-right: auto;
}

.links {
   line-height: 1.35;
}

nav a {
   margin: 0 10px;
   padding: 0 10px;
   color: #666;
   font-weight: 700;
   font-size: 14px;
}

header h1 {
   font-size: 40px;
   line-height: 1.25;
   color: #000;
}



header, section {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   margin-left: auto;
   margin-right: auto;
}

header > div, section > div {
   display: flex;
   flex-direction: column;
}

header {
   margin-top: 200px;
}

section {
   margin-top: 150px;
}

#hero, #quick-access, #annotate, #cleanshot-cloud, #scrolling-capture, #screen-recording, #pin-screenshots, #hide-icons, #feedback {
   padding: 0 7%;
}

#hero h1 {
   margin-bottom: 30px;
}

#hero h4 {
   background-color: #e2eeff;
   padding: 4px 12px;
   color: #0669ff;
   border-radius: 20px;
   font-weight: 700;
   font-size: 12px;
   line-height: 1.35;
   margin-bottom: 30px;
   width: fit-content;
}

#hero .primary-btn {
   padding: 0 40px;
   height: 56px;
   font-size: 16px;;
   line-height: 1.5;
   display: inline-flex;
   align-items: center;
   margin-right: 24px;
}

#hero .secondary-btn {
   padding: 0 40px;
   height: 56px;
   font-size: 16px;;
   line-height: 1.5;
   display: inline-flex;
   align-items: center;
   color: #000;
   background-color: #f6f6f6;
}

#hero .text-btn {
   margin-top: 30px;
   line-height: 1.35;
}

#hero .review {
   margin-top: 75px;
}

#features, #get-cleanshot-x {
   display: flex;
   flex-direction: column;
   
}

#features, #get-cleanshot-x {
   margin-top: 200px;
   margin-left: auto;
   margin-right: auto;
   background-color: #f6f6f6;
   padding: 80px 90px;
   border-radius: 8px;
   width: 80%;
}

#features h1 {
   margin-top: 24px;
   margin-bottom: 24px;
   font-size: 48px;
}

#features h2 {
   font-weight: 400;
   font-size: 32px;
   line-height: 1.5;
   color: #333;
}

#features .wrapper {
   margin-top: 50px;
}

#features .text-btn {
   font-size: 20px;
   margin-right: 50px;
}



#quick-access p {
   
   margin: 0 1.5rem 1rem 0;
}

#quick-access .text-btn {
   line-height: 1.25;
}

#quick-access .review {
   background-color: #f6f6f6;
   padding: 16px;
   border-radius: 18px;
   max-width: 420px;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
}

#quick-access .review .review-text p {
   font-size: 14px;
   line-height: 1.4;
   margin: 0;
}

#quick-access .review .review-text h5 {
   font-size: 14px;
   line-height: 1.35;
   margin-top: 7px;
}

#quick-access .img-wrapper img {
   width: 6rem;
}

#annotate .col-md-6:nth-child(2) {
   margin-left: 30px;
}

#annotate .icons .icon-container {
   width: 35px;
   height: 35px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 8px;
   background-color: #f6f6f6;
}



#annotate .icons {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

#cleanshot-cloud {
   display: flex;
   align-items: center;
}

#cleanshot-cloud .col-md-6:nth-child(1) {
   margin-right: 50px;
   max-width: 500px;
}

#cleanshot-cloud h4 {
   color: #00B44D;
   font-size: 14px;
   font-weight: 700;
   line-height: 1.35;
   margin-bottom: 24px;
   display: flex;
   align-items: center;
}

#cleanshot-cloud h4 svg {
   margin-right: 10px;
}
















#grid {
   display: grid;
   grid-template-columns: auto auto auto;
   grid-template-rows: auto auto;
   gap: 60px;
   padding: 0 8%;
}

.grid-item {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.grid-item img {
   background-color: #f6f6f6;
   padding: 20px;
   border-radius: 16px;
   margin-bottom: 1.25rem;
}

.grid-item h3 {
   font-weight: 700;
   font-size: 20px;
   line-height: 1.6;
   color: #000;
   margin-bottom: 1.25rem;
}

.grid-item p {
   font-size: 16px;
   font-weight: 400;
   line-height: 1.5;
   color: #333;
}

#grid a {
   margin-left: auto;
   margin-right: auto;
}

#first-to-know {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.icons {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   margin-top: 40px;
}



.icon {
   fill: #000000;
   outline: none;
}

.arrow {
   vertical-align: middle;
}

.play {
   margin-right: 10px;
   line-height: 1.35;
}

.blue {
   color: #0669ff;
}

.review {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   border-radius: 10px;
   margin-top: 30px;
}

.review img {
   border-radius: 10px;
   width: 100%;
   display: flex;
}

.review .review-text p {
   font-size: 15px;
   letter-spacing: -.01px;
   color: #000;
   line-height: 1.8;
   font-weight: 400;
}

.review-text h5 {
   font-size: 15px;
   line-height: 2.25;
   color: #000;
   font-weight: 700;
}




section h1 {
   font-size: 36px;
   margin: 0;
   line-height: 1.25;
   color: #000;
   font-weight: 700;
   margin-bottom: 24px;
}

section p {
   font-size: 18px;
   font-weight: 400;
   line-height: 1.6;
   color: #000;
}

section .wrapper:nth-of-type(1) {
   margin-top: 24px;
}

section .wrapper {
   display: flex;
   align-items: center;
   margin-bottom: 16px;
   line-height: 1.5;
}

section .wrapper .icon-container {
   width: 35px;
   height: 35px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 8px;
   margin-right: 16px;
   background-color: #f6f6f6;
}

section .wrapper .icon-container img {
   width: 15px;
   height: 15px;
}

section .wrapper h5 {
   font-size: 14px;
   font-weight: 700;
   color: #000;
   text-align: left;
   display: flex;
   align-items: center;
}

section .wrapper span {
   padding: 4px 6px;
   font-size: 10px;
   font-weight: 700;
   margin-left: 10px;
   color: #0669FF;
   background-color: #E3EEFF;
   border-radius: 10px;
}