:root {
    --primary-color: rgba(13,110,139,0.35);
    --overlay-color: rgba(24,39,51,.95);
    --menu-speed: 0.75s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

.showcase {
    background-color: var(--primary-color);
    color: #ffffff;
    height: 100vh;
    position: relative;
}

.showcase:before {
    content: '';
    background: url('/img/hero.jpeg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.brand {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: .25em;
    text-transform: capitalize;
    color: #ffffff;
}

.claybrook {
    font-weight: 700;
}

.subtitle {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: .25rem;
    color: rgba(255,255,255,0.8);
}

.showcase-border {
    border: 1px solid rgba(255,255,255,0.75);
    padding: 2.5rem 3rem;
}

/* MENU */
.menu-wrap {
    z-index: 1;
    top: 10px;
    right: 20px;
    position: absolute;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 50px;
    height: 50px;
    padding: .75rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hamburger line */
.menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transition: all  0.4s ease;
}

/* Top and bottom lines */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 1px;
    background: inherit;
}

/* Moves line down */
.menu-wrap .hamburger > div:after {
    top: 10px;
}

/* Toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

/* Turn lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

/* Show menu */
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    background: var(--overlay-color);
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 100vw;
    max-height: 100vh;
    opacity: 0;
}

.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 300;
    padding: 2rem;
}

.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

.active {
    border-bottom: 1px solid #ffffff;
}

.menu-wrap .menu > div > div > ul > li > a:hover {
    opacity: 0.7;
}
/* END OF MENU */

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

.showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.showcase .showcase-inner .btn {
    display: inline-block;
    border: 1px solid #ffffff;
    background: transparent;
    color: #ffffff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .05em;
}

.btn:hover {
    opacity: .7;
}

.features {
    padding: 2rem 0;
}

.features .container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 20px;
}

.features h3 {
    font-size: 2rem;
    font-weight: 300;
    color: #212529;
    line-height: 1.2;
    margin: 10px 0;
}

.features p {
    font-size: 1rem;
    font-weight: 300;
    color: #6c757d;
    margin: 10px 0;
}

.bg-gray {
    background-color: #f8f9fa;
}

img {
    width: 100%;
}

.features img {
    justify-self: flex-end;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media (max-width: 768px) {
    .showcase-border {
        padding: 2rem 3rem;
    }

    .brand {
        font-size: 1.8rem;
        white-space: break-word;
    }

    .subtitle {
        font-size: 1rem;
        white-space: break-word;
    }
    
    .menu-wrap .menu > div > div > ul > li {
        font-size: 1.5rem;
    }

    .features {
        padding: 2rem 10px;
    }

    .features h3 {
        text-align: left;
        word-break: break-word;
    }

    .features p {
        text-align: left;
        word-break: break-word;
    }

    .features img {
        justify-self: center;
    }

    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}
