* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

html,
body {
 font-size: 16px;
}

body {
 font-family: system-ui, sans-serif;
 line-height: 1.5;
 -webkit-font-smoothing: antialiased;
}

img {
 max-width: 100%;
}

h3 {
 font-size: 1.5rem;
 font-weight: 500;
 color: #202124;
 margin-block-end: .325rem;
}

h4 {
 font-size: 1.25rem;
 font-weight: 500;
 color: #202124;
 line-height: 1.2;
}

h5 {
 font-size: .825rem;
 font-weight: 400;
 color: #606060;
}

p {
 font-size: .875rem;
 font-weight: 400;
 color: #606060;
 line-height: 1.6;
}

main {
 display: block;
 padding-inline: .75rem;
}

section {
 display: flex;
 flex-wrap: wrap;
 gap: .75rem;
 margin-block: 2rem;
}

.chip {
 display: flex;
 align-items: center;
 justify-content: flex-start;
 gap: .75rem;
 flex-grow: 1;
 flex-basis: 300px;
 background: #fff;
 border: 1px solid #dadce0;
 border-radius: 1rem;
 padding: 1rem;
}

.chip-icon {
 display: inline-flex;
 align-items: center;
 justify-content: center;
 border-radius: 50%;
 padding: .75rem;
}

.chip-icon svg {
 inline-size: 2rem;
 block-size: 2rem;
}

.chip-text {
 display: inline-flex;
 flex-direction: column;
}

.card {
 display: flex;
 flex-direction: column;
 gap: .75rem;
 flex-grow: 1;
 flex-basis: 300px;
 background: #fff;
 border: 1px solid #dadce0;
 border-radius: 1rem;
}

.card-image {
 display: flex;
 border-radius: 1rem 1rem 0 0;
}

.card-image img {
 display: block;
 object-fit: cover;
 width: 100%;
 border-radius: inherit;
}

.card-text {
 display: inline-flex;
 flex-direction: column;
 padding: 0 1rem 1rem 1rem;
}

@media screen and (min-width: 992px) {
 main {
  padding-inline: 5em;
 }
}