* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   -webkit-text-size-adjust: 100%;
}

body {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
   font-size: 14px;
   position: relative;
}

img {
   max-width: 100%;
}

a {
   cursor: pointer;
   text-decoration: none;
}

nav {
   display: flex;
   flex-direction: row;
   align-items: center;
   background-color: hsla(0,0%,100%,.975);
   padding: .75rem 8rem;
   box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
   width: 100%;
   position: sticky;
   top: 0;
}

.logo {
   color: #000;
   height: 1.5rem;
   vertical-align: middle;
}

.nav-links {
   margin-left: auto;
   margin-right: auto;
}

.nav-links a {
   color: rgb(113, 113, 122);
   font-size: .85rem;
   padding: 0 .5rem;
   margin: 0 .5rem;
   line-height: 1.25rem;
   font-weight: 500;
}

.nav-links a:hover {
   color: #18181B;
}

.filled-btn {
   color: #fff;
   background-color: rgb(2, 132, 199);
   font-weight: 500;
   padding: .5rem 1rem;
   font-size: .85rem;
   border-radius: .375rem;
   line-height: 1.25rem;
}

.filled-btn:hover {
   background-color: rgb(3,105,161);
}

.container {
   width: 50%;
   margin-left: auto;
   margin-right: auto;
}

.author {
   display: inline-flex;
   align-items: center;
}

.author img {
   width: 3rem;
   height: 3rem;
   border-radius: 50%;
   margin-right: 16px;
}

h1, h2, h3 {
   color: #18181B;
}

h1 {
   letter-spacing: -.025em;
   margin-bottom: .5rem;
   line-height: 1.25;
   font-size: 1.875rem;
   font-weight: 600;
}

h2 {
   font-size: 1.5rem;
   font-weight: 700;
   margin-top: 2rem;
   margin-bottom: 1rem;
   line-height: 1.3333;
}

h3 {
   font-size: 1.25rem;
   margin-top: 1.6rem;
   margin-bottom: .6rem;
   font-weight: 600;
   line-height: 1.6;
}

h4 {
   color: rgb(2, 132, 199);
   letter-spacing: .025em;
   text-transform: uppercase;
   font-weight: 700;
   font-size: .9rem;
   line-height: 1.5rem;
}

h5 {
   color: rgb(63, 63, 70);
}

h6 {
   color: rgb(113, 113, 122);
}

p {
   color: rgb(75, 85, 99);
}

ul {
   margin-bottom: 1.25rem;
   line-height: 1.75rem;
}

li {
   color: rgb(75, 85, 99);
   font-size: 1rem;
   font-weight: 400;
}

header {
   margin-top: 4rem;
}

header p {
   font-size: 1.125rem;
   line-height: 1.75rem;
   margin-bottom: 1.5rem;
   color: rgb(113, 113, 122);
}

article {
   margin: 3rem 0;
}

article p {
   line-height: 1.75rem;
   font-size: 1rem;
   font-weight: 400;
   margin-bottom: 1.25rem;
}

article a {
   color: #18181B;
   font-weight: 500;
   text-decoration: underline;
}

.card {
   display: flex;
   flex-direction: column;
   padding: 1.25rem;
   box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
}

.card h4 {
   color: rgb(37, 99, 235);
}

.card h2 {
   margin: 0;
}

.card p {
   margin: 0;
}

.card a {
   color: rgb(37, 99, 235);
   font-weight: 400;
   font-size: .875rem;
   line-height: 2;
   text-decoration: none;
}

.card .active {
   font-weight: 700;
}

footer {
   text-align: center;
   padding: 1.5rem 0;
}

footer p {
   color: rgb(161, 161, 170);
}